<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
     <ion-back-button defaultHref="/hf/plist"></ion-back-button>
    </ion-buttons>
    <ion-title>HF Encomenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <img src="./assets/new1.png" style="height: 330px;margin-left: 54px;"/>
      <ion-card-header>
        <ion-card-subtitle>Chocolate & Menta</ion-card-subtitle>
        <ion-card-title>Dripping Cake L</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-button color="danger" href="./hf/porder" slot="end">Encomedar</ion-button>
          <ion-grid>
            <ion-row>
              <ion-col>
          <ion-thumbnail slot="end">
            <img src="./assets/new1.png">
          </ion-thumbnail>
             </ion-col>
             <ion-col>
          <ion-thumbnail slot="end">
            <img src="./assets/new1.png">
          </ion-thumbnail>
          </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>
</ion-content>
