<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
     <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>HeavenlyFlavours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
       <img src="../assets/hf1.png" />
      </ion-col>
      <ion-searchbar showCancelButton="never"></ion-searchbar>
    </ion-row>
    </ion-grid>


    <ion-grid>
      <ion-row>

        <ion-col>
        <a href="./hf/plist"><img src="../assets/cakes.png" /></a>
        </ion-col>

        <ion-col>
        <a href="#"><img src="../assets/cakes.png" /></a>
        </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
        <a href="#"><img   src="../assets/cakes.png" /></a>
        </ion-col>
        <ion-col>
        <a href="#"> <img src="../assets/cakes.png" /></a>
        </ion-col>
        </ion-row>

      </ion-grid>
      <ion-list>
    <ion-list-header>Especial mes de Julho</ion-list-header>
      <ion-item>
         <ion-thumbnail slot="start" style="width: 120px;">
           <img src="../assets/test1.jpg">
         </ion-thumbnail>
         <ion-label>
           <h3>Bolo de Laranja</h3>
           <p>dolor sit amet</p>
           <p>consectetur adipiscing <ion-button color="primary">Ver</ion-button></p>
         </ion-label>
       </ion-item>
       <ion-item>
         <ion-label>
           <h3>Cupcakes</h3>
           <p>dolor sit amet</p>
           <p>consectetur adipiscing <ion-button color="primary">Ver</ion-button></p>
         </ion-label>
          <ion-thumbnail slot="end" style="width: 120px;">
            <img src="../assets/test1.jpg">
          </ion-thumbnail>

        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Orelhudos</h3>
            <p>dolor sit amet</p>
            <p>consectetur adipiscing <ion-button color="primary">Ver</ion-button></p>
          </ion-label>
           <ion-thumbnail slot="start" style="width: 120px;">
             <img src="../assets/test1.jpg">
           </ion-thumbnail>

         </ion-item>
       </ion-list>













</ion-content>
