<ion-header [translucent]="true" >
  <ion-toolbar color="danger">
    <ion-title >
       DigitalShop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col>
       <img src="../assets/test1.jpg" />
      </ion-col>
      <ion-searchbar showCancelButton="never"></ion-searchbar>
    </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>

        <ion-col>

        <a href="./hf"> <img src="../assets/test1.jpg" /></a>

        </ion-col>

        <ion-col>
         <a href="./store2"><img src="../assets/test1.jpg" /></a>
        </ion-col>

      </ion-row>

        <ion-row>
        <ion-col>
         <a href="./store3"><img   src="../assets/test1.jpg" /></a>

        </ion-col>
        <ion-col>
         <a href="./store4"><img src="../assets/test1.jpg" /><</a>
        </ion-col>
        </ion-row>

      </ion-grid>







</ion-content>
